<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Билет на стримфест!</title>
		<style>
			.invoice {
				width: 700px;
				max-width: 700px;
				margin: 50px;
				padding: 50px;
			}
		 
			h1 {
				text-align: center;
				margin-bottom: 100px;
			}
			.notes {
				margin-top: 100px;
			}
		 
			table {
				width: 90%;
				text-align: left;
			}
			th {
				padding-bottom: 15px;
			}
		 
			.total td {
				font-size: 20px;
				font-weight: bold;
				padding-top: 25px;
			}
		</style>
	</head>
	<body>
		<div class="ticket">
			<h1>Билет на стримфест!</h1>
		 
			<h3>От: Miker</h3>
			<h3>Дата: 24.04.2021</h3>

			<img src="data:image/png;base64,{{ qr }}" width="200px">
		 
			<table>
				<thead>
						<tr>
							<th>Здесь какой то текст</th>
							<th>Тут тоже</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td>Здесь напишем<td>
								<td>Тут прочитаем</td>
							</tr>
						<tr class="total">
							<td style="text-align: right">Стоимость: </td>
							<td>1300 рублей</span></td>
						</tr>
					</tbody>
			</table>
		 
			<div class="notes">
				<p><strong>Notes:</strong> <%= @invoice.notes %></p>
			</div>
		</div>
	</body>
</html>
